langchain==0.3.1
langchain-community==0.3.1
langchain-google-genai==2.0.0
python-dotenv==1.0.1
streamlit==1.39.0
langchain-experimental==0.3.2
sentence-transformers==3.1.1
langchain-chroma==0.1.4
langchainhub==0.1.21
unstructured==0.15.13
chromadb==0.5.11
